* {
	font-family: 'Press Start 2P', cursive;
}

.board {
	border-radius: 10px;
	border-color: blue;
	border-style: solid;
}

body {
	background: black;
}

.tag_name {
	font-size: 25px;
	color: white;
	font: monospace;
}